.subtext {
	font-size: 0.8em;
	color: #999;
}

h1 {
	font-weight: bold;
	color: #14B8A6;
}

.md {
	font-size: 1.2em;
}

.flex-align {
	display: flex;
	align-items: center;
}

.text-link {
	color: #14B8A6;
	text-decoration: none;
	cursor: pointer;
}

.fixed-bnts {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	padding-right: 20px;
}

.hidden {
	display: none;
}

:host {
	background-color: var(--surface-ground);

	::ng-deep .p-toast-detail {
		white-space: pre-line;
	}
}