<app-navigation></app-navigation>
<div class="app-content">
	<div class="app-content-container row">
		<div class="col-md-3 spacer">

		</div>
		<div class="col-md-6 post-list">
			<ng-template #noFeed>
				<div class="no-feed">
					<h2>Sorry, there are no posts available</h2>
					<p>Consider inviting some friends to join and following them.</p>
				</div>
			</ng-template>
			<app-post-list #postList [posts]="userPosts" *ngIf="(userPosts.length > 0); else noFeed"
				(getPage)="getUserPosts($event)">
			</app-post-list>
		</div>
		<div class="col-md-6 friends">

		</div>
	</div>
</div>
<div class="fixed-bnts">
	<p-button icon="pi pi-plus sm" styleClass="p-button-sm" (onClick)="showPostDialog()"></p-button>
</div>