<div class="signin">
	<div class="signin-modal">
		<div class="modal-dialog">
			<div class="signin-modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Sign In to Horizon</h4>
				</div>
				<div class="modal-content">
					<form>
						<div class="form-group">
							<input type="email" class="form-control" id="email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="remember">
								<label class="custom-control-label" for="remember">Keep me signed in</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Sign In</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>