<app-navigation></app-navigation>
<app-new-post></app-new-post>
<div class="profile">
    <div class="profile-header">
        <div class="profile-header-content">
            <h1>{{ user.firstName }} {{user.lastName}}</h1>
            <h2>{{ user.email }}</h2>

            <p-button *ngIf="user.id != currentUser.id" styleClass="p-button-sm" (onClick)="followOrUnfollow()">
                {{user.isFollowing ? 'UnFollow' : 'Follow'}}
            </p-button>

            <div class="profile-statistics">
                <p-tag value="Posts: {{ user.postsCount }}"></p-tag>
                <p-tag value="Followers: {{ user.followersCount }}"></p-tag>
                <p-tag value="Following: {{ user.followingCount }}"></p-tag>
            </div>
        </div>
    </div>
    <hr>
    <div class="profile-content">
        <p-tabView>
            <p-tabPanel header="Posts">
                <div class="row">
                    <div class="col-md-3 spacer">
                    </div>
                    <div class="profile-posts col-lg-6">
                        <app-post-list *ngIf="posts.length > 0" [posts]="posts">
                        </app-post-list>
                    </div>
                    <div class="col-md-3 spacer">
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Followers">
                <div class="profile-followers">
                    <app-user-list *ngIf="user.followers" [users]="user.followers">
                    </app-user-list>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Following">
                <div class="profile-following">
                    <app-user-list *ngIf="user.following" [users]="user.following">
                    </app-user-list>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>