<div class="upload">
	<p-tabView (onChange)="changeTab($event)">
		<div class="col-lg-8 upload-section-content">
			<canvas #canvas id="canvas"></canvas>
		</div>
		<p-tabPanel header="Scene Creation" class="col-lg-6">
			<div class="row">
				<div class="upload-section col-md-12">
					<div class="choose_file">
						<p-button label="Choose File" [loading]="loading" class="ui-button-success" icon="fa fa-plus"
							(onClick)="fileUpload.click()"></p-button>
						<input #fileUpload type="file" accept=".stl" (change)="renderSTL($event)" hidden />
					</div>
					<p-button label="Center on Mesh" [disabled]="!uploads.length" (onClick)="centerCanvas()"></p-button>
					<p-selectButton [options]="controlOptions" (onChange)="updateMode($event)" [ngModel]="currentMode"
						optionLabel="icon" optionValue="mode" [ngModelOptions]="{standalone: true}" [disabled]="!uploads.length">
						<ng-template let-item>
							<fa-icon [icon]="item.icon" [pTooltip]="item.tooltip"></fa-icon>
						</ng-template>
					</p-selectButton>
					<p-colorPicker [(ngModel)]="backgroundColor" [ngModelOptions]="{standalone: true}" (onChange)="updateCanvasColor()">
					</p-colorPicker>
				</div>
				<div class="col-md-12">
				</div>
				<div class="col-md-12">
					<p-table [value]="uploads" responsiveLayout="scroll">
						<ng-template pTemplate="header">
							<tr>
								<th>Snapshot</th>
								<th>Name</th>
								<th>Size</th>
								<th>Last Modified</th>
								<th>Actions</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-upload>
							<tr>
								<td> <img [src]="upload.snapshot" alt="snapshot" width="100" class="shadow-4"> </td>
								<td>{{ upload.name }}</td>
								<td>{{ upload.size | fileSize }}</td>
								<td>{{ upload.last_modified | date }}</td>
								<td>
									<p-colorPicker [(ngModel)]="upload.color" (onChange)="updateColor(upload)"
										[ngModelOptions]="{standalone: true}"></p-colorPicker>
									<button pButton pRipple type="button" icon="pi pi-search"
										class="p-button-rounded p-button-success p-button-text" (click)="centerUpload(upload)"></button>
									<button pButton pRipple type="button" icon="pi pi-times"
										class="p-button-rounded p-button-danger p-button-text" (click)="removeUpload(upload)"></button>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
				<div class="upload-section col-md-12">
					<div class="upload-section-content">
						<div class="upload-sections">
							<h4>Model Snapshot</h4>
							<div class="checkbox-inline">
								<p-checkbox [(ngModel)]="keepGrid" [binary]="true" inputId="binary"></p-checkbox>
								<label for="binary"> Keep the floor grid in snapshot and scene?</label>
							</div>
							<div *ngIf="snapshotEncoded">
								<img class="upload-snapshot-preview" [src]="snapshotEncoded" alt="snapshot">
							</div>
							<p>Snapshot Preview</p>
							<p-button label="Snapshot" [disabled]="!uploads.length" (onClick)="takeSnapshot()"></p-button>
						</div>
					</div>
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel header="Post">
			<div class="row upload-post">
				<div class="col-md-12 post-content">
					<label for="textarea">Post Description</label>
					<textarea pInputTextarea inputId="textarea" inputId="textarea" rows="3" cols="30" style="width:100%"
						class="form-control" name="content" [(ngModel)]="postContent"></textarea>
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel header="Confirm">
			<div class="row">
				<div class="buttons float-right">
					<p-button label="Post" class="p-button-success" [disabled]="!snapshotImage" (onClick)="uploadPost()">
					</p-button>
				</div>
			</div>
		</p-tabPanel>
	</p-tabView>
</div>