<div class="upload">
	<div class="row">
		<h2>Upload</h2>
	</div>
	<div class="row">
		<div class="upload-section col-md-7">
			<div class="upload-section-header">
				<div class="upload-section-header-content">
					<p-fileUpload
						mode="basic"
						accept="*.stl"
						[auto]="true"
						[customUpload]="true"
						(uploadHandler)="renderSTL($event)">
					</p-fileUpload>
					<p-button label="Center on Mesh" [disabled]="!upload.mesh" (onClick)="centerCanvas()"></p-button>
					<p-button label="Snapshot" [disabled]="!upload.mesh" (onClick)="takeSnapshot()"></p-button>
				</div>
			</div>
			<div class="upload-section-content">
				<canvas #canvas id="canvas"></canvas>
			</div>
		</div>
		<div class="upload-section col-md-5">
			<div class="upload-section-header">
				<h2>Upload Settings</h2>
			</div>
			<div class="upload-section-content">
				<div class="instructions">
					<p>
						<strong>Instructions:</strong>
					</p>
					<ul>
						<li>
							<strong>1.</strong>
							Select the file you want to upload.
						</li>
						<li>
							<strong>2.</strong>
							Click the <strong>Snapshot</strong> button to take a snapshot of the model.
						</li>
						<li>
							<strong>3.</strong>
							Click the <strong>Upload</strong> button to upload the model.
						</li>
					</ul>
				</div>
				<div class="mesh-settings">
					<h3>Edit mesh settings</h3>
				</div>
				<div class="buttons">
					<p-button label="Save and Upload" class="p-button-success" [disabled]="!upload.snapshot" (onClick)="uploadFile()">
					</p-button>
				</div>
			</div>
		</div>
	</div>
</div>