.upload {
	// padding: 15px;

	 ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper {
		overflow: visible;
	}

	&-snapshot-preview {
		max-width: 100%;
		border: 1px black solid;
	}

	label {
		margin-left: 10px;
	}

	::ng-deep #canvas {
		width: 100%;
		height: 100%;
		background-color: #fff;
		border: 1px solid #000;
		border-radius: 5px;
		box-shadow: 0 0 5px #000;
	}

	&-section {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;

		.snapshot-button {
			margin-bottom: 10px;
		}

		.checkbox-inline {
			margin-bottom: 10px;
		}

		&-scene {
			margin: 0 auto;
		}

		&-header {
			&-content {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}

.edit-upload {
	display: flex;
	align-items: center;
}

.buttons {
	display: flex;
	flex-direction: row-reverse;
}