.upload {
	// padding: 15px;

	 ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper {
		overflow: visible;
	}

	::ng-deep #canvas {
		width: 100%;
		height: 100%;
		background-color: #fff;
		border: 1px solid #000;
		border-radius: 5px;
		box-shadow: 0 0 5px #000;
	}

	&-section {
		display: flex;
		padding-top: 20px;

		&-header {
			&-content {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}

.buttons {
	display: flex;
	flex-direction: row-reverse;
}